<div class="contenedor-bienvenida">
  <!-- Libros y lupa decorativos flotando -->
  <img src="https://github.com/barbaramartinezavalos/Trabajo-Integrador-DAW/blob/f4570d5c0338aa3c16fa43a21b2729bbbd5c5dc4/src/assets/book1.png" alt="Libro 1" class="decoracion flotante book1" />
  <img src="https://github.com/barbaramartinezavalos/Trabajo-Integrador-DAW/blob/f4570d5c0338aa3c16fa43a21b2729bbbd5c5dc4/src/assets/book2.png" alt="Libro 2" class="decoracion flotante book2" />
  <img src="https://github.com/barbaramartinezavalos/Trabajo-Integrador-DAW/blob/f4570d5c0338aa3c16fa43a21b2729bbbd5c5dc4/src/assets/lupa.png" alt="Lupa" class="decoracion flotante lupa" />

  <!-- Imagen principal de estudiantes -->
  <img src="https://github.com/barbaramartinezavalos/Trabajo-Integrador-DAW/blob/f4570d5c0338aa3c16fa43a21b2729bbbd5c5dc4/src/assets/students.png" alt="Estudiantes" class="estudiantes" />

  <!-- Texto central -->
  <div class="texto-bienvenida animado">
    <h1>Bienvenidos a EncuestApp</h1>
    <p>Explora y analiza encuestas de forma interactiva.</p>
    <button routerLink="/crear" class="boton-empezar">Empezar</button>
  </div>
</div>
