
<div class="formulario">
  <h2>Crear Encuesta</h2>

  <label>Pregunta:</label>
  <input [(ngModel)]="pregunta" type="text" placeholder="¿Cuál es tu pregunta?" />

  <label>Tipo de pregunta:</label>
  <select [(ngModel)]="tipo">
    <option value="abierta">Abierta</option>
    <option value="opcion-simple">Opción simple</option>
    <option value="opcion-multiple">Opción múltiple</option>
  </select>

  <div *ngIf="tipo !== 'abierta'">
    <label>Opciones:</label>
    <div *ngFor="let opcion of opciones; let i = index" class="opcion">
      <input [(ngModel)]="opciones[i]" type="text" placeholder="Opción {{ i + 1 }}" />
      <button type="button" (click)="eliminarOpcion(i)">🗑️</button>
    </div>
    <button class="agregar" (click)="agregarOpcion()">+ Agregar opción</button>
  </div>

  <button 
  class="crear" (click)="crearEncuesta()">Crear Encuesta</button>
        <div *ngIf="idGenerado" class="enlaces">
  <p><strong>¡Encuesta creada!</strong></p>

  <p>
     <strong>Responder:</strong><br />
    <code>http://localhost:4200/responder/{{ idGenerado }}</code>
    <button (click)="copiarAlPortapapeles('http://localhost:4200/responder/' + idGenerado)">
       Copiar
    </button>
  </p>

  <p>
     <strong>Estadísticas:</strong><br />
    <code>http://localhost:4200/estadisticas/{{ idGenerado }}</code>
    <button (click)="copiarAlPortapapeles('http://localhost:4200/estadisticas/' + idGenerado)">
       Copiar
    </button>
  </p>
</div>

</div>
